/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1560759226-14da22a643ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Styles */
header {
  background-color:transparent;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.willem {
  color: #fff;
  text-decoration: none;
  font-family: Blackadder ITC
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

/* Banner Styles */
#banner {
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

#banner h2 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
  font-family: Blackadder ITC
}

#banner p {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

 /* Style the main section */
 main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

section#contact-form {
  margin-top: 40px;
}

section#contact-form h2 {
  margin-bottom: 20px;
}

/* Style the contact form */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
}

form div {
  display: flex;
  flex-direction: column;
  
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

input[type="text"],
input[type="email"] {
  height: 40px;
  font-size: 16px;
}

textarea {
  height: 120px;
  font-size: 16px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

a:-webkit-any-link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;

}


.pietjan {

  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


button:hover {
  background-color: #333;
}

 /* Footer Styles */
 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

